<ion-content class="ion-padding animated fadeIn login auth-page">

  <div class="auth-content">

    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h4 no-margin class="ion-text-center">
          Página de Login
       </h4>
    </div>


    <div  class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Usuário
        </ion-label>
        <ion-input color="light" type="text" [(ngModel)]="usuarios"></ion-input>
      </ion-item>
      <p ion-text class="text08">
        <ion-text color="warning">
          Campo Requerido
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock-closed" item-start></ion-icon>
          Senha
        </ion-label>
        <ion-input color="light" type="password" [(ngModel)]="senha"></ion-input>
      </ion-item>
      <p ion-text color="warning" class="text08">
        <ion-text color="warning">
          Campo Requerido
        </ion-text>
        </p>
      </div>


    <br><br>

    <div>
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="login()"  tappable>
        <ion-icon name="log-in"></ion-icon>
        Login
      </ion-button>



    </div>

    <!-- Other links -->


  </div>
</ion-content>
